@model Microservices.Web.Models.CouponDto

@{
    ViewData["Title"] = "CouponIndex";
}

<h1>CouponIndex</h1>

<div>
    <h4>CouponDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinExpense)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
